.wrapper {
    margin-top: 20px;
}

.card {
    margin: 15px 40px 10px 35px;
    padding: 20px 6px 20px 12px;
    border: 1px solid var(--gray-dark);
    box-sizing: border-box;
    border-radius: 5px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    margin-right: 40px;
    font-weight: bold;
}

.button {
    margin-bottom: 0;
}
.send {
    float: right;
    margin-right: 40px;
}